* { 
    padding: 0;
    margin: 0;
}
html,body { 
    height:100%;
    width:100%;
    box-sizing: border-box;
     

}
#messageDiv { 
    height:10vmin;
    text-align: center;
    color: white;
    background-color: #081b31;
    line-height:3rem;
}
#time{
    height: 10vmin;
     display: flex;
    justify-content: center;
    align-items: center;
    color: #081b31;
}
#win{ 
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.hide{ 
    visibility: hidden;
}
#winner{
    width: 250px;
    height:50px;
    margin-bottom: 10px;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #081b31;
     color: white;
   
}


#container { 
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2.5vmin;
    margin: 0;
}
.buttons  { 
    height:20vh;
    width:24vh;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
    background-size: cover;
   
}
.buttons img{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.buttons:active{ 
    box-shadow: 2px 4px 12px rgb(15, 13, 13);
    transform:scale(0.97);
}

#container2 { 
   
    display: flex;
    text-align: center;
    justify-content: center;
    gap:25vmin;
}
#you{ 
    height:70px;
    width:150px;

}
#computer{
    height:70px;
    width:150px; 
   
}
#playbutton{
    height:50px;
    width:150px;
    border: 2px solid black;
        background-color: #081b31;
    color: white;
}
#play{ 
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}
#playbutton:active{ 
    box-shadow: 2px 4px 12px rgb(0, 0, 0);
    transform:scale(0.97);

}
